table {
  width: 100%;
}

p{
  padding-left: 0.5%;
}

h2{
  padding-left: 1%;
}

h1{
  padding-left: 2%;
}

.label{
  font-weight: bold;
  padding-left:20px;
}

.details{
  width: 500px;
}

.real{
  text-decoration: underline;
}
