<p>
  film n°{{noFilm}} <br>
  titre du film: {{film.titre}} <br>
  Durée du film: {{convertMinsToHrsMins(film.duree)}}<br>
  Date de sortie: {{film.dateSortie | date: 'dd/MM/yyyy'}} <br>
  categorieFilm: {{film.categorie.libelleCat}} <br>
  personnages: <br>
</p>

<ul>
  <li *ngFor="let personnage of film.personnages">
    personnage {{personnage.nomPers}} joué par: {{personnage.personnageId.acteur.prenAct}} {{personnage.personnageId.acteur.nomAct}}
  </li>
</ul>

<p>
  Réalisateur: {{realisateur.prenRea}} {{realisateur.nomRea}}<br>
</p>

<!--
<ul>
  <li *ngFor="let fillm of realisateur.films">
    {{fillm.titre}}
  </li>
</ul>

-->

