.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.titre-personnages{
  margin-top:30px;
}

.liste-personnages{
  margin-bottom: 20px;
}

.save-button{
  margin-top: 30px;
}

.select-categories{
  margin-top:20px;
}

.add-realisateur{
  margin-bottom: 15px;
}

.aucun-personnages{
  margin-bottom: 30px;
}

